{% extends "extended.html" %} 

{% block title %} EXTREME ENGINEERING {% endblock %}

        <script type="text/javascript">
         
            function eventLoad(what)
            {
            $(".inner").load("event.php", {key:what} );
            }      
           
        </script>
		
{% block subcontent1 %}  
	
	
		<div id="wrapper" style="margin:0px;">
		<div id="fake">
			    <div id="c1" class="content-box">
					<div class="inner">
						<h1 style="font:20pt Arial;width:100&;margin-top:2%;background:rgba(0,0,255,0.5);"></h1>
						
                                                    <div class="demo">

                            <div id="tabs">
                                
                                <ul>
                                    <li><a href="#tabs-1">EXTREME ENGINEERING</a></li>
                                  
                                </ul>
                                <div id="tabs-1">
                                    
                                    <ul id="extreme_engg"style="position:relative;left:20%;top:-20px">
                                        <li title="AKSHAY" id="spr_akshay" onClick="eventLoad(1);"></li>
                                        <li title="CHEMOFLAZE" id="spr_chemo" onClick="eventLoad(2);"></li>
                                        <li title="CONCORDE" id="spr_concorde" onClick="eventLoad(3);"></li>
                                        <li title="FLOTANTE" id="spr_flotante" onClick="eventLoad(4);"></li>
                                    </ul>
                                    <div id="child_con">
                                         Modex: Modex deals with all the model making and project design type of events. The events that come under Modex are:
                                        Open Hardware: In open hardware, the objective is to create a hardware working design of any innovative idea.
                                        Simulation Projects: In this event, student teams from their respective colleges are supposed to present a simulated project. Simulation softwares such as Ansys, Abacus, ProE etc can be used for the simulations.
                                        Green Technology: Projects based on alternate sources of energy such as hydrogen fuel cells, solar cells, and even new innovative projects are encouraged to be presented in this event.
                                        Social and Rural Projects: This event provides a platform for presenting projects and designs for the development of society and more specifically the rural India.
                                        Healthcare: This event includes projects related to health issues such as portable ECG, low cost hearing aid, knee joint replacement etc.

                                        Robo-Opus: Robo-Opus'11 is an initiative by Robosapiens India in association with Technex'11 IT-BHU towards Robotics. It's a National level Robotics Championship. The prelims Rounds will be organized at different Zonal centers all across India. Robo Opus will now reach to other engineering colleges and all across India by holding 25 Zonal centers for organizing the prelims round of it. Zonal Winner of Robo Opus will Participate in the final Round of Robo-Opus 2011 at IT-BHU during Technex'11 on 3 -6 March'11.

                                        Robotrix: Robotrix deals with all the events based on robotics and automation.
                                        Dash n Trounce: This event puts the bots of the participating teams to a test on different arenas.
                                        Optika: In this event the bots of the participating teams need to recognize the coloured blocks placed randomly on an arena, and place them in the respective blocks where they belong. A overhead webcam is provided. The webcam provides images. Image processing is required for the bots to take action to complete the task.
                                        I-Robot: Line following autonomous bots are to be employed in this event to perform a given task.
                                        Robowars: In this event the robots of different teams battle it out for their survival and existence inside the arena.
                                        
                                        </div>
                                </div>
                                
                            </div>

                            </div><!-- End demo -->
                       
						
					</div>
				</div>		
			</div><!-- div id="fake" -->
		</div><!-- div id="wrapper" -->
        
{% endblock %}
