{% extends "extended.html" %} 

{% block subcontent1 %}   
	
		<div id="wrapper" style="margin:0px;">
		<div id="fake">
			    <div id="c1" class="content-box">
					<div class="inner">
						
						
                                                    <div class="demo">

                            <div id="tabs">
                                
                                <ul>
                                    <li><a href="#tabs-1">KNOW TECHNEX</a></li>
                                  
                                </ul>
                                <div id="tabs-1">
                                    <p>Technex is the annual technical festival of Institute of Technology, Banaras Hindu 
                                    University, Varanasi[1], India. The festival hosts a variety of events targeting the 
                                    improvement in technical and innovative thinking of the students. Various competitions
                                    for students to test out their wits, lectures which nourish the young minds with knowledge 
                                    and experience of intellectual and experienced guests, and workshops 
                                    to learn and improve skills are part of this prestigious technical festival of IT-BHU.<p>
                                </div>
                                
                            </div>

                            </div><!-- End demo -->
                       
						
					</div>
				</div>
                
				<div id="c2" class="content-box">
					<div class="inner">
						
						
                             <div class="demo">

                            <div id="tabs">
                                
                                <ul>
                                    <li><a href="#tabs-1">SPONSORS...</a></li>
                                    
                                </ul>
                                <div id="tabs-1">
                                    <div style="position:relative;width:100%;top:80px">
                                    <pre>NVIDIA 
                                         GOOGLE
                                                SAMSUNG
                                               
                                               
                                               </pre>
                                    </div>
                                </div>
                                
                            </div>

                            </div><!-- End demo -->
                        
						
                        
					</div>
				</div>
				<div id="c3" class="content-box">
					<div class="inner">
						
						
                           <div class="demo">

                            <div id="tabs">
                                
                                <ul>
                                    <li><a href="#tabs-1">REGISTRATION...</a></li>
                                </ul>
                                <div id="tabs-1">
                                                <form method="POST" action="action.py" autocomplete = "off" name="login"style="line-height:15px;cursor:default">
                                                <input type="text" name="name" size=100 placeholder="Full Name"><br/><br/>
                                                <input type="text" name="usr" size=100 placeholder="User Name"><br/><br/>
                                                
                                                <select name="gender">
                                                      <option value="">Gender</option>
                                                      <option name="male">MALE</option>
                                                      <option name="female">FEMALE</option>
                                                </select><br/><br/>
                                                <input type="text" name="mail" placeholder="Email Address" size=100 ><br/><br/>
                                                <input type="password" name="pass" placeholder="Password" size=100><br/><br/>
                                                <select name="clg">
                                                      <option value="">College</option>
                                                      <option name="b">IIT-Bombay</option>
                                                      <option name="d">IIT-Delhi</option>
                                                      <option name="k">IIT-Kanpur</option>
                                                      <option name="kgp">IIT-Kharagpur</option>
                                                      <option name="r">IIT-Roorkee</option>
                                                      <option name="bhu">IIT-BHU</option>
                                                      <option name="g">IIT-Guwahati</option>
                                                      <option name="i">ISMU-Dhanbad</option>
                                                </select><br><br/>
                                                <input type="text" name="contact" size=100 placeholder="Contact Number"><br/><br/>
                                                <input type="submit" value="Submit" name="submit" style="padding:10px 100px"><br/><br/>
                                                </form>
                                                
                                </div>
                                </div>

                            </div><!-- End demo -->
                       
						
					</div>
				</div>
				<div id="c4" class="content-box">
					<div class="inner">
						
						
                            <div class="demo">

                            <div id="tabs">
                                
                                <ul>
                                    <li><a href="#tabs-1">MY PAGE</a></li>
                                    <li><a href="#tabs-2">NOTIFICATIONS</a></li>
                                    
                                </ul>
                                <div id="tabs-1">
                                    <p>EVENT REGISTERED = 0</p>
                                    <p>RESISTARTION STATUS </p>
                                </div>
                                <div id="tabs-2">
                                    <p>No New Notifications</p>
                                </div>
                                
                            </div>

                            </div><!-- End demo -->
                       
						
					</div>
				</div>
                
                <div id="c5" class="content-box">
					<div class="inner">
						
						
                            <div class="demo">

                                <div id="tabs">                                
                                <ul>
                                    <li><a href="#tabs-1">------EVENTS-------</a></li>
                                    <li><a href="#tabs-2">TECHNICAL EVENTS</a></li>
                                    <li><a href="#tabs-3">MANAGEMENT EVENTS</a></li>
                                </ul>
                                <div id="tabs-1">
                                    <p>WE HAVE BASICALLY TWO CATEGORIES OF EVENTS</p>
                                    <p>1.TECHNICAL</p>
                                    <p>2. MANAGEMENT</p>
                                    <p>    Modex: Modex deals with all the model making and project design type of events. The events that come under Modex are:
                                        Open Hardware: In open hardware, the objective is to create a hardware working design of any innovative idea.
                                        Simulation Projects: In this event, student teams from their respective colleges are supposed to present a simulated project. Simulation softwares such as Ansys, Abacus, ProE etc can be used for the simulations.
                                        Green Technology: Projects based on alternate sources of energy such as hydrogen fuel cells, solar cells, and even new innovative projects are encouraged to be presented in this event.
                                        Social and Rural Projects: This event provides a platform for presenting projects and designs for the development of society and more specifically the rural India.
                                        Healthcare: This event includes projects related to health issues such as portable ECG, low cost hearing aid, knee joint replacement etc.

                                        Robo-Opus: Robo-Opus'11 is an initiative by Robosapiens India in association with Technex'11 IT-BHU towards Robotics. Its a National level Robotics Championship. The prelims Rounds will be organized at different Zonal centers all across India. Robo Opus will now reach to other engineering colleges and all across India by holding 25 Zonal centers for organizing the prelims round of it. Zonal Winner of Robo Opus will Participate in the final Round of Robo-Opus 2011 at IT-BHU during Technex'11 on 3 -6 March11.

                                        Robotrix: Robotrix deals with all the events based on robotics and automation.
                                        Dash n Trounce: This event puts the bots of the participating teams to a test on different arenas.
                                        Optika: In this event the bots of the participating teams need to recognize the coloured blocks placed randomly on an arena, and place them in the respective blocks where they belong. A overhead webcam is provided. The webcam provides images. Image processing is required for the bots to take action to complete the task.
                                        I-Robot: Line following autonomous bots are to be employed in this event to perform a given task.
                                        Robowars: In this event the robots of different teams battle it out for their survival and existence inside the arena.

                                    </p>
                                </div>
                                <div id="tabs-2">
                                   
                                        
                                    
                                        <ul id="tech_event" style="position:relative;left:20%;top:-20px">
                                            <li title="WORKSHOPS" id="spr_workshop"><a href="workshops"></a></li>
                                            <li title="ROBOTRIX" id="spr_rotrix"><a href="robotics"></a></li>
                                            <li title="MODEX" id="spr_modex"><a href="modex"></a></li>
                                            <li title="CODEFEST" id="spr_codefest"><a href="codefest"></a></li>
                                            <li title="EXTREME ENGINEERING" id="spr_extreme"><a href="extreme_engg"></a></li>
                                        </ul>
                                   
                                       
                                        <div id="child_con">
                                         Modex: Modex deals with all the model making and project design type of events. The events that come under Modex are:
                                        Open Hardware: In open hardware, the objective is to create a hardware working design of any innovative idea.
                                        Simulation Projects: In this event, student teams from their respective colleges are supposed to present a simulated project. Simulation softwares such as Ansys, Abacus, ProE etc can be used for the simulations.
                                        Green Technology: Projects based on alternate sources of energy such as hydrogen fuel cells, solar cells, and even new innovative projects are encouraged to be presented in this event.
                                        Social and Rural Projects: This event provides a platform for presenting projects and designs for the development of society and more specifically the rural India.
                                        Healthcare: This event includes projects related to health issues such as portable ECG, low cost hearing aid, knee joint replacement etc.

                                        Robo-Opus: Robo-Opus'11 is an initiative by Robosapiens India in association with Technex'11 IT-BHU towards Robotics. Its a National level Robotics Championship. The prelims Rounds will be organized at different Zonal centers all across India. Robo Opus will now reach to other engineering colleges and all across India by holding 25 Zonal centers for organizing the prelims round of it. Zonal Winner of Robo Opus will Participate in the final Round of Robo-Opus 2011 at IT-BHU during Technex'11 on 3 -6 March11.

                                        Robotrix: Robotrix deals with all the events based on robotics and automation.
                                        Dash n Trounce: This event puts the bots of the participating teams to a test on different arenas.
                                        Optika: In this event the bots of the participating teams need to recognize the coloured blocks placed randomly on an arena, and place them in the respective blocks where they belong. A overhead webcam is provided. The webcam provides images. Image processing is required for the bots to take action to complete the task.
                                        I-Robot: Line following autonomous bots are to be employed in this event to perform a given task.
                                        Robowars: In this event the robots of different teams battle it out for their survival and existence inside the arena.
                                        
                                        </div>


                                        
                               </div>
                                <div id="tabs-3">
                                    
                                    <ul id="mang_event"style="position:relative;left:20%;top:-20px">
                                            <li title="INNOVENTURE" id="spr_innoventure" onClick="eventLoad(1);"></li>
                                            <li title="KRACKAT" id="spr_krackat" onClick="eventLoad(2);"></li>
                                            <li title="VENTURA" id="spr_venture" onClick="eventLoad(3);"></li>
                                            <li title="MANTHAN" id="spr_manthan" onClick="eventLoad(4);"></li>
                                            <li title="THOUGHTZ"id="spr_thoughtz" onClick="eventLoad(5);"></li>
                                        </ul>
                                        <div id="child_con">
                                         Modex: Modex deals with all the model making and project design type of events. The events that come under Modex are:
                                        Open Hardware: In open hardware, the objective is to create a hardware working design of any innovative idea.
                                        Simulation Projects: In this event, student teams from their respective colleges are supposed to present a simulated project. Simulation softwares such as Ansys, Abacus, ProE etc can be used for the simulations.
                                        Green Technology: Projects based on alternate sources of energy such as hydrogen fuel cells, solar cells, and even new innovative projects are encouraged to be presented in this event.
                                        Social and Rural Projects: This event provides a platform for presenting projects and designs for the development of society and more specifically the rural India.
                                        Healthcare: This event includes projects related to health issues such as portable ECG, low cost hearing aid, knee joint replacement etc.

                                        Robo-Opus: Robo-Opus'11 is an initiative by Robosapiens India in association with Technex'11 IT-BHU towards Robotics. Its a National level Robotics Championship. The prelims Rounds will be organized at different Zonal centers all across India. Robo Opus will now reach to other engineering colleges and all across India by holding 25 Zonal centers for organizing the prelims round of it. Zonal Winner of Robo Opus will Participate in the final Round of Robo-Opus 2011 at IT-BHU during Technex'11 on 3 -6 March11.

                                        Robotrix: Robotrix deals with all the events based on robotics and automation.
                                        Dash n Trounce: This event puts the bots of the participating teams to a test on different arenas.
                                        Optika: In this event the bots of the participating teams need to recognize the coloured blocks placed randomly on an arena, and place them in the respective blocks where they belong. A overhead webcam is provided. The webcam provides images. Image processing is required for the bots to take action to complete the task.
                                        I-Robot: Line following autonomous bots are to be employed in this event to perform a given task.
                                        Robowars: In this event the robots of different teams battle it out for their survival and existence inside the arena.
                                        
                                        </div>
                                </div>
                                
                            </div>

                            </div><!-- End demo -->
                       
						
					</div>
				</div>
                
                <div id="c6" class="content-box">
					<div class="inner">
						
						
                                                    <div class="demo">

                            <div id="tabs">
                                
                                <ul>
                                    <li><a href="#tabs-1">GUEST LECTURES </a></li>
                                    <li><a href="#tabs-2">WORKSHOPS...</a></li>
                                    
                                </ul>
                                <div id="tabs-1">
                                    <p font="24pt">THIS YEAR WE ARE PLANNING TO NOT HAVE GUEST LECTURES</p>
                                </div>
                                <div id="tabs-2">
                                    <p>DONT WORRY .....THERE WILL BE WORKSHOPS</p>
                                </div>
                                
                            </div>

                            </div><!-- End demo -->
                       
						
					</div>
				</div>
                
                <div id="c7" class="content-box">
					<div class="inner">
						
						
                                                    <div class="demo">

                            <div id="tabs">
                                
                                <ul>
                                    <li><a href="#tabs-1">HOSPITALITY</a></li>
                                    <li><a href="#tabs-2">CONTACTS...</a></li>
                                 
                                </ul>
                                <div id="tabs-1">
                                    <p>WE CAN PROMISE FOR EXCELLENT FOODING BUT CANT SAY ABOOUT LOGGING</p>
                                </div>
                                <div id="tabs-2">
                                    <p>FEEL FREE TO CONTACT US ON ANY OF NON WORKING NUMBERS.....</p>
                                </div>
                                
                            </div>

                            </div><!-- End demo -->
                       
						
					</div>
				</div>
				
			</div><!-- div id="fake" -->
		</div><!-- div id="wrapper" -->
        
{% endblock %}
