	            <div class="inner">
                    <div class="demo">
                        <div id="tabs"> 
                            <ul>
                                <li><a href="#tabs-1">GENERAL NOTIFICATIONS</a></li>
                                <li><a href="#tabs-2">EVENT NOTIFICATIONS</a></li>
                            </ul>
                            <div id="tabs-1">

                            </div>
                            <div id="tabs-2">
                       
                            </div>                   
                        </div>
                    </div><!-- End demo -->
                </div> <!--End inner -->

<script type="text/javascript">

    $(function() {
        $( "div#tabs" ).tabs();
    });

    //$("div#c4 div#tabs-2").html(mypage_obj.event_notifications);
    //$("div#c4 div#tabs-2").html(mypage_obj[0].body);

</script>
